spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/navsingh3211/cxp-config
          username: ${GIT_USER}
          password: ${GIT_TOKEN}

server:
  port: 8888